<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
    <link rel="stylesheet" href="/css/tovar.css" />
</head>
<body>
    <header>
        <div class="logo">
            <p class="logo-nad">Emex</p>
        </div>
        <div class="nav">
            <div class="nav-one">
                <img class="img-2" src="../imgs/Dost.png">
                <a href="" class="nav-ph">Отзывы</a>
            </div>
            <div class="nav-one">
                <img class="img-1" src="../imgs/img2.png">
                <a href="" class="nav-ph">Доставка</a>
            </div>
            <div class="nav-one">
                <img class="img-1" src="../imgs/back-arrow_340.png">
                <a href="/" class="nav-ph">Назад</a>
            </div>
        </div>
    </header>
    <div class="block">
        <img class="img-nav" src="../imgs/iphone.png">
        <div class="block2">
        <p class="naz">Двигатель ВАЗ 21116</p>
        <p class="shen">97990 р</p>
        <p class="opis">
            Каталожный номер — 21129100026006<br>
            Модель — XRAY, Веста SW универсал<br>
            Материал — Чугун<br>
            Объем двигателя — 1.6 л<br>
            Количество клапанов — 16 клапанов<br>
            <form action="/price" target="_blank">
                <button class="bt">Заказать</button>
               </form>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>